body{
    background-color: grey;
}

.container{
    width: 30%;
    background-color: white;
    height: 300px;
    margin-left: 34%;
    margin-top: 14%;
}

button{
    background-color: blue;
    padding-left: 5%;
    margin-left: 7%;
    margin-top: 2%;
    color: white;
    height: 34px;
    text-align: center;
    border: 0px;
    width: 16.3%;
}

input{
    height: 30px;
    margin-left: 7%;
    width: 61.5%;
}

h1{
    margin-left: 30%;
    padding-top: 2%;
}